@import url("//fonts.googleapis.com/css?family=Droid+Sans+Mono");

@import "~material-colors/dist/colors";

$blue: $md-blue-a700;
$brand: $blue;

@import "~primer-support/index";

$input-border-color: $border-gray;
$input-focus-border-color: $blue;
$input-padding-y: .25rem;
$input-padding-x: .5rem;
$btn-secondary-border: $gray-400;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
