/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 2.5rem;
  top: 2.5rem;
  // transition: all .3s ease;
  // transform: translateX(-2rem);
  // opacity: 0;

  // &.show {
  //   transform: translateX(0);
  //   opacity: 1;
  // }
}

/* Color/shape of burger icon bars */
.bm-burger-button span .bm-burger-bars {
  background: #494949;
  border-radius: 10px;
  transition: all .2s ease;

  &:nth-child(2) {
    background: $gray-400;
  }
  &:nth-child(3) {
    background: #FFDC70;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $gray-300;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(#373a47, .7) !important;
}