.fade-slide-enter {
  opacity: 0.01;
  transform: translateX(100px);
}

.fade-slide-enter.fade-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .5s ease;
}

.fade-slide-leave {
  opacity: 1;
  transform: translateX(0);
}

.fade-slide-leave.fade-slide-leave-active {
  opacity: 0.01;
  transform: translateX(100px);
  transition: all .5s ease;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all .5s ease;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: all .5s ease;
}